<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
  
   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated lqn -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.solver.lqn.presentation.lqnModelWizardID"
            name="%_UI_lqnModelWizard_label"
            class="org.palladiosimulator.solver.lqn.presentation.lqnModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/lqnModelFile.gif">
         <description>%_UI_lqnModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated lqn -->
      <editor
            id="org.palladiosimulator.solver.lqn.presentation.lqnEditorID"
            name="%_UI_lqnEditor_label"
            icon="icons/full/obj16/lqnModelFile.gif"
            extensions="lqn"
            class="org.palladiosimulator.solver.lqn.presentation.lqnEditor"
            contributorClass="org.palladiosimulator.solver.lqn.presentation.lqnActionBarContributor">
      </editor>
   </extension>
</plugin>
