<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright 2006, SDQ Group, University Karlsruhe (TH)

 $Id$
-->

<plugin>


  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "de.uka.ipd.sdq.context.usage.presentation.UsageModelWizardID"
      name = "%_UI_UsageModelWizard_label"
      class = "de.uka.ipd.sdq.context.usage.presentation.UsageModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/UsageModelFile.gif">
      <description>%_UI_UsageModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "de.uka.ipd.sdq.context.usage.presentation.UsageEditorID"
        name = "%_UI_UsageEditor_label"
        icon = "icons/full/obj16/UsageModelFile.gif"
        extensions = "usage"
        class = "de.uka.ipd.sdq.context.usage.presentation.UsageEditor" 
        contributorClass="de.uka.ipd.sdq.context.usage.presentation.UsageActionBarContributor" >
    </editor>
  </extension>    

  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "de.uka.ipd.sdq.context.actual_allocation.presentation.Actual_AllocationModelWizardID"
      name = "%_UI_Actual_AllocationModelWizard_label"
      class = "de.uka.ipd.sdq.context.actual_allocation.presentation.Actual_AllocationModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/Actual_AllocationModelFile.gif">
      <description>%_UI_Actual_AllocationModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "de.uka.ipd.sdq.context.actual_allocation.presentation.Actual_AllocationEditorID"
        name = "%_UI_Actual_AllocationEditor_label"
        icon = "icons/full/obj16/Actual_AllocationModelFile.gif"
        extensions = "actual_allocation"
        class = "de.uka.ipd.sdq.context.actual_allocation.presentation.Actual_AllocationEditor" 
        contributorClass="de.uka.ipd.sdq.context.actual_allocation.presentation.Actual_AllocationActionBarContributor" >
    </editor>
  </extension>    
   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated context -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.solver.context.computed_usage.presentation.ComputedUsageModelWizardID"
            name="%_UI_ComputedUsageModelWizard_label"
            class="org.palladiosimulator.solver.context.computed_usage.presentation.ComputedUsageModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ComputedUsageModelFile.gif">
         <description>%_UI_ComputedUsageModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated context -->
      <editor
            id="org.palladiosimulator.solver.context.computed_usage.presentation.ComputedUsageEditorID"
            name="%_UI_ComputedUsageEditor_label"
            icon="icons/full/obj16/ComputedUsageModelFile.gif"
            extensions="computedusage"
            class="org.palladiosimulator.solver.context.computed_usage.presentation.ComputedUsageEditor"
            contributorClass="org.palladiosimulator.solver.context.computed_usage.presentation.ComputedUsageActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated context -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.solver.context.computed_allocation.presentation.ComputedAllocationModelWizardID"
            name="%_UI_ComputedAllocationModelWizard_label"
            class="org.palladiosimulator.solver.context.computed_allocation.presentation.ComputedAllocationModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ComputedAllocationModelFile.gif">
         <description>%_UI_ComputedAllocationModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated context -->
      <editor
            id="org.palladiosimulator.solver.context.computed_allocation.presentation.ComputedAllocationEditorID"
            name="%_UI_ComputedAllocationEditor_label"
            icon="icons/full/obj16/ComputedAllocationModelFile.gif"
            extensions="computedallocation"
            class="org.palladiosimulator.solver.context.computed_allocation.presentation.ComputedAllocationEditor"
            contributorClass="org.palladiosimulator.solver.context.computed_allocation.presentation.ComputedAllocationActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated context -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.solver.context.aggregatedUsageContext.presentation.AggregatedUsageContextModelWizardID"
            name="%_UI_AggregatedUsageContextModelWizard_label"
            class="org.palladiosimulator.solver.context.aggregatedUsageContext.presentation.AggregatedUsageContextModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/AggregatedUsageContextModelFile.gif">
         <description>%_UI_AggregatedUsageContextModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated context -->
      <editor
            id="org.palladiosimulator.solver.context.aggregatedUsageContext.presentation.AggregatedUsageContextEditorID"
            name="%_UI_AggregatedUsageContextEditor_label"
            icon="icons/full/obj16/AggregatedUsageContextModelFile.gif"
            extensions="aggregatedusagecontext"
            class="org.palladiosimulator.solver.context.aggregatedUsageContext.presentation.AggregatedUsageContextEditor"
            contributorClass="org.palladiosimulator.solver.context.aggregatedUsageContext.presentation.AggregatedUsageContextActionBarContributor">
      </editor>
   </extension>
</plugin>
